:root{
  --main-color:#fff;
  --btn-color:#428DFD;
  --header-color:#393939;
  --sub-header-color:#828282;
  --dsc-color:#E0E0E0;
  --frame-color:#F6F6F6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}